<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>页面基本布局构成</title>
	<link rel="stylesheet" type="text/css" href="css1.css">
	<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="../js/iscroll-lite.js"></script>
	<script type="text/javascript" src="js1.js"></script>
</head>
<body>
<div class="head">
	极客文件浏览器
</div>
<div class="content">
	<div class="nav"></div>
	<div class="list" id="file-list">
		<ul>
			<li>
				<div class="icon"></div>
				<div class="name">This is folder</div>
			</li>
			<li>
				<div class="icon"></div>
				<div class="name">This is folder</div>
			</li>
			<li>
				<div class="icon"></div>
				<div class="name">This is folder</div>
			</li>
			<li>
				<div class="icon"></div>
				<div class="name">This is folder</div>
			</li>
			<li>
				<div class="icon"></div>
				<div class="name">This is folder</div>
			</li>
			<li>
				<div class="icon"></div>
				<div class="name">This is folder</div>
			</li>
			<li>
				<div class="icon"></div>
				<div class="name">This is folder</div>
			</li>
			<li>
				<div class="icon"></div>
				<div class="name">This is folder</div>
			</li>
			<li>
				<div class="icon"></div>
				<div class="name">This is folder</div>
			</li>
			<li>
				<div class="icon"></div>
				<div class="name">This is folder</div>
			</li>
			<li>
				<div class="icon"></div>
				<div class="name">This is folder</div>
			</li>
			<li>
				<div class="icon"></div>
				<div class="name">This is folder</div>
			</li>
			<li>
				<div class="icon"></div>
				<div class="name">This is folder</div>
			</li>
			<li>
				<div class="icon"></div>
				<div class="name">This is folder</div>
			</li>
			<li>
				<div class="icon"></div>
				<div class="name">This is folder</div>
			</li>
		</ul>
	</div>
</div>
</body>
</html>